* {
    margin: 0;
    /*height: 0;*/
    box-sizing: border-box;
}
body {

    background-color: antiquewhite;
}


/*header*/
header {
    font-family: sans-serif;
    font-weight: lighter;

    text-shadow: 1px 1px 2px #171314;
    color: #e0e0e0;;
    background: url("../image/header_background.jpg");
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.25em;
    font-weight: normal;
}

/*todo header*/
.todo-header {
    height: 100px;
    background: url("image/todoHeaderBackground.jpg") center;
    padding: 15px;
}

.todo-header button {
    float: left;
    height: 70px;
    width: 70px;
    border: 0px;
    outline: none;
    background: url("image/addBtn.png") no-repeat center;
    background-size: 70px;
}
.todo-header input {
    width: 93%;
    height: 70px;
    color: #fff;
    padding: 0px 60px 0 18px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}


/*todo-container*/
.todo-container {
}

.todos-all {
    width: 50%;
    border-right: rgba(0, 0, 0, 0.1) 5px solid;
    float: left;
}

.todos-all-done {
    width: 50%;
    float: right;
}

/*todos*/
.todo-cell {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.todo-cell:hover {
    border:1px solid deepskyblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.todo-btns {
    float: left;
}

#id-todo-done {
    height: 30px;
    width: 30px;

    border: 0px;
    outline: none;
    background: url("image/doneBtn.png") no-repeat;
    background-size: 30px;
}
#id-todo-done:hover {
    background: url("image/isdoneBtn.png") no-repeat;
    background-size: 30px;
}

#id-todo-delete {
    height: 30px;
    width: 30px;

    border: 0px;
    outline: none;
    background: url("image/deleteBtn.png") no-repeat;
    background-size: 30px;
}

.isdone {
    background: url("image/isdoneBtn.png") no-repeat !important;
    background-size: 30px !important;
}

.todo-content {
    margin-left: 20px;
}